<div class="ponto">
	<% if !ChatSession.sessao_aberta current_administrator_administrador.id %>
		<% sessao_aberta = 0 %>
		<div class="aberto">
			<%= button_to 'Habilitar atendimento', '/administrator/chat_sessions/iniciar' %>
		</div>
	<% else %>
		<% sessao_aberta = 1 %>
		<div class="fechado">
			<%= button_to 'Desabilitar atendimento', '/administrator/chat_sessions/finalizar' %>
		</div>
	<% end %>
	
	<input type="hidden" id="sessao_aberta" value="<%= sessao_aberta %>" />
	
</div>