<div class="logo">
	<%= image_tag Settings['QW3CHAT.logo'] %>
</div>

<div class="page_header">
	<h1>Atendimento online</h1>
</div>

<div class="inside">
	
	<div class="topo">
		<div class="texto-descritivo">
			<%= (ChatSession.atendimento_online?) ? Settings['QW3CHAT.texto_online'] : Settings['QW3CHAT.texto_offline'] %>
		</div>
	
		<%= render '/administrator/chat_sessions/status' %>
		<div class="clear"></div>
	</div>
	
	<%= render 'form' %>
</div>