<div class="chats">
	<% if @chats.count.zero? %>
		Nenhum atendimento nessa lista.
	<% else %>
		<% @chats.each do |chat| %>
		  <%= render chat %>
		<% end %>
	<% end %>
</div>

<div id="paginacao">
  <%= pagination_footer @chats %>
</div>