<div class="page_header">
	<h1>Visualização do atendimento: <%= params[:id] %></h1>
</div>

<div class="inside">
	<%= render @chat %>
	
	<h1>Histórico de mensagens</h1>
	
	<div class="historico-mensagens">
		<%= historico_chat_formatado @chat.recuperar_historico %>
	</div>
	
</div>