<li>
	<%= link_to '/administrator/configuracao_atendimento/editar', :class => "qw3chat-configuracao-atendimento-leftbar" do %>
		<span>Configurações</span>
	<% end %>
</li>
<% if (@detalhes_parcial == 'qw3chat_configuracao') %>
	<li class="<%= (@detalhes_parcial == 'qw3chat_configuracao') ? 'menu-item-aberto' : 'menu-item-fechado' %>">
	  <ul class="menu submenu">
	  	<%= render "/administrator/configuracao_atendimento/menu_detalhes" %>
	  </ul>
	</li>
<% end %>
