<li>
	<%= link_to '/administrator/configuracao_atendimento/editar', :class => "editar-conf" do %>
		<span>Editar configurações</span>
	<% end %>
</li>

<li>
	<%= link_to administrator_chat_departamentos_path, :class => "departamentos" do %>
		<span>Departamentos</span>
	<% end %>
</li>

<li>
	<%= link_to new_administrator_chat_departamento_path, :class => "novo-departamento" do %>
		<span>Adicionar departamento</span>
	<% end %>
</li>