<!DOCTYPE html>
<html>
	<head>
	  <title><%= ConfiguracaoAtendimento.nome_empresa %></title>
	  <%= stylesheet_link_tag 'qw3chat/login' %>
	  <%= csrf_meta_tag %>	
	</head>
	<body class="loginlayout">
  		<%= yield %>
	</body>
</html>
